# Пример (НЕ БОЕВОЙ! замените на свои)
LRB_DATA_PATH=/var/lib/logos/data.sled
LRB_NODE_KEY_PATH=/var/lib/logos/node_key
LRB_ADMIN_KEY=CHANGE_ADMIN_KEY
LRB_BRIDGE_KEY=CHANGE_ME
# LRB_ADMIN_JWT_SECRET=   # задаётся опционально
