# Wallet Proxy / Scanner (пример ENV)
# !!! НЕ коммить настоящие ключи/приватники !!!
ETH_PROVIDER_URL=https://mainnet.infura.io/v3/XXXX...
USDT_CONTRACT=0xdAC17F958D2ee523a2206206994597C13D831ec7

# hot-кошелёк оператора (для withdraw/fee)
HOT_WALLET_ADDRESS=0x...
HOT_WALLET_PRIVATE_KEY= # НЕ класть в git, подставлять только в прод окружении
